<div class="estimated-delivery">
  <div class="tips">
        <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M15.548 0.452032C14.9364 -0.159468 13.9419 -0.14925 13.3431 0.474719L10.0654 3.89025L2.06659 1.24316L0.3875 2.92228L7.05475 7.02744L3.68112 10.5429L1.51766 10.1877L0 11.7053L3.18062 12.8194L4.29466 16L5.81231 14.4823L5.45713 12.3189L8.97256 8.94528L13.0777 15.6125L14.7568 13.9334L12.1098 5.93459L15.5253 2.65694C16.1493 2.05813 16.1595 1.06356 15.548 0.452032Z" fill="black"></path></svg>
    	<span>Ready to ship in {{ block.settings.data_start2 }} - {{ block.settings.data_start2 | plus: block.settings.data_range2 }} Days</span>
    	<svg width="10" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M11.7772 0.847579C11.6289 0.699119 11.4531 0.62495 11.2499 0.62495H0.750056C0.546802 0.62495 0.371088 0.699119 0.222628 0.847579C0.0741683 0.996203 0 1.17192 0 1.37505C0 1.57814 0.0741683 1.75385 0.222628 1.90235L5.47257 7.1523C5.6212 7.30076 5.79691 7.37509 6 7.37509C6.20309 7.37509 6.37897 7.30076 6.52731 7.1523L11.7772 1.90231C11.9255 1.75385 12 1.57814 12 1.37501C12 1.17192 11.9255 0.996203 11.7772 0.847579Z" fill="black"></path></svg>
  </div>
  
  <div class="estimated-delivery-popup">
    <div class="delivery-cover"></div>
    <div class="delivery-layout">
        <div class="close"><span><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 121.31 122.876"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"></path></g></svg></span></div>
        <div class="step__container">
          <div class="basic__step-container">
            <div class="step-box">
              <div class="icon__step-box">
                <svg style="max-width:30px;" class="svg__icon" focusable="false" viewBox="0 0 1024 1024" aria-hidden="true">
                  <path d="M680.8 309.6H343.2v-33.8c0-2.8 0-5.6 0.2-8.2 0.2-2.8 0.4-5.6 0.6-8.2 0.2-2.8 0.6-5.4 1-8.2 0.4-2.8 0.8-5.4 1.4-8.2s1.2-5.4 1.8-8c0.6-2.6 1.4-5.4 2.2-8 0.8-2.6 1.6-5.2 2.6-7.8l3-7.8c1-2.6 2.2-5 3.4-7.6 1.2-2.4 2.4-5 3.8-7.4 1.4-2.4 2.6-4.8 4-7.2 1.4-2.4 2.8-4.8 4.4-7 1.6-2.2 3.2-4.6 4.8-6.8 1.6-2.2 3.4-4.4 5-6.6 1.8-2.2 3.6-4.2 5.4-6.2 1.8-2 3.8-4 5.8-6s4-3.8 6-5.8 4.2-3.6 6.2-5.4c2.2-1.8 4.4-3.4 6.6-5 2.2-1.6 4.4-3.2 6.8-4.8 2.2-1.6 4.6-3 7-4.4s4.8-2.8 7.2-4c2.4-1.4 5-2.6 7.4-3.8 2.4-1.2 5-2.2 7.6-3.4s5.2-2 7.8-3c2.6-1 5.2-1.8 7.8-2.6 2.6-0.8 5.4-1.6 8-2.2 2.6-0.6 5.4-1.2 8-1.8 2.8-0.6 5.4-1 8.2-1.4 2.8-0.4 5.4-0.8 8.2-1 2.8-0.2 5.6-0.4 8.2-0.6 2.8-0.2 5.6-0.2 8.2-0.2 2.8 0 5.6 0 8.2 0.2 2.8 0.2 5.6 0.4 8.2 0.6 2.8 0.2 5.4 0.6 8.2 1 2.8 0.4 5.4 0.8 8.2 1.4 2.8 0.6 5.4 1.2 8 1.8 2.6 0.6 5.4 1.4 8 2.2 2.6 0.8 5.2 1.6 7.8 2.6l7.8 3c2.6 1 5 2.2 7.6 3.4 2.4 1.2 5 2.4 7.4 3.8 2.4 1.4 4.8 2.6 7.2 4 2.4 1.4 4.8 2.8 7 4.4 2.2 1.6 4.6 3.2 6.8 4.8 2.2 1.6 4.4 3.4 6.6 5 2.2 1.8 4.2 3.6 6.2 5.4 2 1.8 4 3.8 6 5.8s3.8 4 5.8 6c1.8 2 3.6 4.2 5.4 6.2 1.8 2.2 3.4 4.4 5 6.6 1.6 2.2 3.2 4.4 4.8 6.8 1.6 2.2 3 4.6 4.4 7s2.8 4.8 4 7.2 2.6 5 3.8 7.4c1.2 2.4 2.2 5 3.4 7.6l3 7.8c1 2.6 1.8 5.2 2.6 7.8 0.8 2.6 1.6 5.4 2.2 8 0.6 2.6 1.2 5.4 1.8 8s1 5.4 1.4 8.2c0.4 2.8 0.8 5.4 1 8.2s0.4 5.6 0.6 8.2c0.2 2.8 0.2 5.6 0.2 8.2v33.8zM673.4 550l-189 236.2c-1.6 2-3.2 3.6-5.2 5.2s-4 2.8-6.2 4c-2.2 1-4.6 2-7 2.6-2.4 0.6-4.8 0.8-7.4 1h-0.6c-2.4 0-4.8-0.2-7.2-0.8-2.4-0.6-4.6-1.2-6.8-2.4-2.2-1-4.2-2.2-6.2-3.8-2-1.4-3.8-3.2-5.2-5l-81-94.6c-0.8-0.8-1.4-1.8-2-2.6-0.6-1-1.2-1.8-1.8-2.8-0.6-1-1-2-1.4-3l-1.2-3c-0.4-1-0.6-2.2-0.8-3.2-0.2-1-0.4-2.2-0.6-3.2-0.2-1-0.2-2.2-0.2-3.4v-3.4c0-1.2 0.2-2.2 0.4-3.2s0.4-2.2 0.8-3.2c0.2-1 0.6-2.2 1-3.2s0.8-2 1.4-3c0.6-1 1-2 1.6-2.8 0.6-1 1.2-1.8 2-2.8 0.6-0.8 1.4-1.8 2.2-2.4 0.8-0.8 1.6-1.6 2.4-2.2 0.8-0.8 1.8-1.4 2.6-2s1.8-1.2 2.8-1.8c1-0.6 2-1 3-1.4l3-1.2c1-0.4 2.2-0.6 3.2-0.8 1-0.2 2.2-0.4 3.2-0.6 1-0.2 2.2-0.2 3.4-0.2h3.4c1.2 0 2.2 0.2 3.2 0.4s2.2 0.4 3.2 0.8c1 0.2 2.2 0.6 3.2 1s2 0.8 3 1.4c1 0.6 2 1 2.8 1.6 1 0.6 1.8 1.2 2.6 2 0.8 0.6 1.8 1.4 2.4 2.2 0.8 0.8 1.6 1.6 2.2 2.4l54.6 63.6L620.6 508c0.6-0.8 1.4-1.6 2.2-2.4s1.6-1.6 2.4-2.2c0.8-0.8 1.8-1.4 2.6-2 1-0.6 1.8-1.2 2.8-1.8 1-0.6 2-1 3-1.4 1-0.4 2-0.8 3.2-1.2 1-0.4 2.2-0.6 3.2-0.8 1-0.2 2.2-0.4 3.2-0.6 1-0.2 2.2-0.2 3.4-0.2 1.2 0 2.2 0 3.4 0.2 1.2 0 2.2 0.2 3.2 0.4s2.2 0.4 3.2 0.8 2.2 0.6 3.2 1 2 0.8 3 1.4c1 0.6 2 1 2.8 1.6 1 0.6 1.8 1.2 2.6 2 0.8 0.6 1.6 1.4 2.4 2.2 0.8 0.8 1.6 1.6 2.2 2.4 0.8 0.8 1.4 1.8 2 2.6 0.6 1 1.2 1.8 1.8 2.8 0.6 1 1 2 1.4 3 0.4 1 0.8 2 1.2 3.2 0.4 1 0.6 2.2 0.8 3.2 0.2 1 0.4 2.2 0.6 3.2 0.2 1 0.2 2.2 0.2 3.4 0 1.2 0 2.2-0.2 3.4 0 1.2-0.2 2.2-0.4 3.2s-0.4 2.2-0.8 3.2-0.6 2.2-1 3.2-0.8 2-1.4 3c-0.6 1-1 2-1.6 2.8-0.4 0.6-1.2 1.6-1.8 2.4z m257.6-220.6c-3.2-3.2-6.6-6-10.2-8.4s-7.6-4.6-11.6-6.2c-4.2-1.8-8.4-3-12.6-3.8-4.4-0.8-8.8-1.2-13.2-1.2h-135V276c0-3.8 0-7.8-0.2-11.6s-0.4-7.8-0.8-11.6-0.8-7.6-1.4-11.6c-0.6-3.8-1.2-7.6-2-11.4-0.8-3.8-1.6-7.6-2.6-11.4-1-3.8-2-7.4-3-11.2-1.2-3.6-2.4-7.4-3.6-11-1.4-3.6-2.6-7.2-4.2-10.8-1.4-3.6-3-7.2-4.6-10.6s-3.4-7-5.2-10.4-3.8-6.8-5.8-10c-2-3.4-4-6.6-6.2-9.8-2.2-3.2-4.4-6.4-6.6-9.4-2.4-3.2-4.6-6.2-7.2-9.2s-5-6-7.6-8.8c-2.6-2.8-5.2-5.6-8-8.4-2.8-2.8-5.6-5.4-8.4-8-2.8-2.6-5.8-5.2-8.8-7.6-3-2.4-6-4.8-9.2-7.2-3.2-2.4-6.2-4.6-9.4-6.6-3.2-2.2-6.4-4.2-9.8-6.2-3.4-2-6.6-3.8-10-5.8-3.4-1.8-6.8-3.6-10.4-5.2-3.4-1.6-7-3.2-10.6-4.6l-10.8-4.2c-3.6-1.4-7.4-2.6-11-3.6-3.6-1.2-7.4-2.2-11.2-3s-7.6-1.8-11.4-2.6c-3.8-0.8-7.6-1.4-11.4-2-3.8-0.6-7.6-1-11.6-1.4-3.8-0.4-7.8-0.6-11.6-0.8s-7.8-0.2-11.6-0.2-7.8 0-11.6 0.2-7.8 0.4-11.6 0.8-7.6 0.8-11.6 1.4c-3.8 0.6-7.6 1.2-11.4 2s-7.6 1.6-11.4 2.6-7.4 2-11.2 3c-3.6 1.2-7.4 2.4-11 3.6-3.6 1.4-7.2 2.6-10.8 4.2s-7.2 3-10.6 4.6c-3.4 1.6-7 3.4-10.4 5.2s-6.8 3.8-10 5.8c-3.4 2-6.6 4-9.8 6.2-3.2 2.2-6.4 4.4-9.4 6.6s-6.2 4.6-9.2 7.2c-3 2.4-6 5-8.8 7.6-2.8 2.6-5.6 5.2-8.4 8-2.8 2.8-5.4 5.6-8 8.4-2.6 2.8-5.2 5.8-7.6 8.8-2.4 3-4.8 6-7.2 9.2-2.4 3.2-4.6 6.2-6.6 9.4s-4.2 6.4-6.2 9.8c-2 3.4-3.8 6.6-5.8 10-1.8 3.4-3.6 6.8-5.2 10.4-1.6 3.4-3.2 7-4.6 10.6l-4.2 10.8c-1.4 3.6-2.6 7.4-3.6 11-1.2 3.6-2.2 7.4-3 11.2-1 3.8-1.8 7.6-2.6 11.4-0.8 3.8-1.4 7.6-2 11.4-0.6 3.8-1 7.6-1.4 11.6-0.4 3.8-0.6 7.8-0.8 11.6-0.2 3.8-0.2 7.8-0.2 11.6v33.8H140.8c-2.2 0-4.4 0.2-6.6 0.4-2.2 0.2-4.4 0.6-6.6 1-2.2 0.4-4.4 1-6.4 1.6-2.2 0.6-4.2 1.4-6.2 2.2-2 0.8-4 1.8-6 2.8s-3.8 2.2-5.6 3.4c-1.8 1.2-3.6 2.6-5.4 4a52.438 52.438 0 0 0-9.4 9.4c-1.4 1.8-2.8 3.4-4 5.4-1.2 1.8-2.4 3.8-3.4 5.6s-2 4-2.8 6c-0.8 2-1.6 4.2-2.2 6.2-0.6 2.2-1.2 4.2-1.6 6.4-0.4 2.2-0.8 4.4-1 6.6-0.2 2.2-0.4 4.4-0.4 6.6v455.6c0 82.2 69.6 151.8 151.8 151.8h573.8c9.8 0 19.6-1 29.2-2.8s19-4.6 28.2-8.4c9.2-3.8 17.8-8.2 26-13.6s15.8-11.6 23-18.4c3.6-3.4 7-7 10.2-10.8 3.2-3.8 6.2-7.6 9-11.8 2.8-4 5.4-8.2 7.8-12.6 2.4-4.4 4.6-8.8 6.6-13.2 2-4.6 3.6-9.2 5.2-13.8 1.4-4.8 2.8-9.4 3.8-14.4 1-4.8 1.8-9.8 2.2-14.6 0.6-5 0.8-9.8 0.8-14.8V377c0-4.4-0.4-8.8-1.2-13.2-0.8-4.4-2.2-8.6-3.8-12.6s-3.8-8-6.2-11.6c-2.6-3.8-5.4-7.2-8.6-10.2z"></path>
                </svg>
              </div>
              <div class="content__step-box">
                <div class="title__content">{{ block.settings.info1 }}</div>
                <div class="description__content">{{ 'now' | date: '%b %d' }}</div></div>
            </div>
            <div class="step-box">
              <div class="icon__step-box">
                <svg style="max-width:30px;" class="svg__icon" focusable="false" viewBox="0 0 1024 1024" aria-hidden="true">
                  <path d="M937 644.6h-22.4V493.5c0-17.8-7.1-34.8-19.7-47.4L755.1 306.3c-12.6-12.6-29.7-19.7-47.4-19.7H646v-67.1c0-37.1-30.1-67.1-67.1-67.1h-358c-37.1 0-67.1 30.1-67.1 67.1v67.1H75.4c-6.2 0-11.2 5-11.2 11.2v22.4c0 6.2 5 11.2 11.2 11.2h380.4c6.2 0 11.2 5 11.2 11.2V365c0 6.2-5 11.2-11.2 11.2H120.2c-6.2 0-11.2 5-11.2 11.2v22.4c0 6.2 5 11.2 11.2 11.2h290.9c6.2 0 11.2 5 11.2 11.2v22.4c0 6.2-5 11.2-11.2 11.2H75.4c-6.2 0-11.2 5-11.2 11.2v22.4c0 6.2 5 11.2 11.2 11.2h290.9c6.2 0 11.2 5 11.2 11.2v22.4c0 6.2-5 11.2-11.2 11.2H153.7v179c0 74.1 60.1 134.3 134.3 134.3s134.3-60.1 134.3-134.3h179c0 74.1 60.1 134.3 134.3 134.3s134.3-60.1 134.3-134.3H937c12.3 0 22.4-10.1 22.4-22.4v-45c-0.1-12.3-10.1-22.4-22.4-22.4zM288 801.3c-37.1 0-67.1-30.1-67.1-67.1 0-37.1 30.1-67.1 67.1-67.1s67.1 30.1 67.1 67.1c0 37-30 67.1-67.1 67.1z m447.6 0c-37.1 0-67.1-30.1-67.1-67.1 0-37.1 30.1-67.1 67.1-67.1s67.1 30.1 67.1 67.1c0 37-30.1 67.1-67.1 67.1z m111.8-290.9H646V353.7h61.7l139.7 139.7v17z"></path>
                </svg>
              </div>
              <div class="content__step-box">
                <div class="title__content">{{ block.settings.info2 }}</div>
  
                {% assign start_seconds = block.settings.data_start2 | times: 24 | times: 60 | times: 60 %}
                {% assign end_seconds = block.settings.data_start2 | plus: block.settings.data_range2 | times: 24 | times: 60 | times: 60 %}
                <div class="description__content">{{ 'now' | date: "%s" | plus: start_seconds | date: '%b %d' }} - {{ 'now' | date: "%s" | plus: end_seconds | date: '%b %d' }}</div></div>
            </div>
            <div class="step-box">
              <div class="icon__step-box">
                <svg style="max-width:30px;" class="svg__icon" focusable="false" viewBox="0 0 1024 1024" aria-hidden="true">
                  <path d="M497.117867 0C279.074133 0 102.4 177.152 102.4 395.605333 102.4 697.344 421.888 1024 498.346667 1024c76.526933 0 393.4208-326.724267 393.4208-628.394667C891.767467 177.152 714.9568 0 497.117867 0zm0 578.9696a181.6576 181.6576 0 0 1-181.521067-181.8624 181.6576 181.6576 0 0 1 181.521067-181.930667A181.6576 181.6576 0 0 1 678.570667 397.1072 181.6576 181.6576 0 0 1 497.117867 578.901333z"></path>
                </svg>
              </div>
              <div class="content__step-box">
                <div class="title__content">{{ block.settings.info3 }}</div>
                
                {% assign start_seconds = block.settings.data_start3 | times: 24 | times: 60 | times: 60 %}
                {% assign end_seconds = block.settings.data_start3 | plus: block.settings.data_range3 | times: 24 | times: 60 | times: 60 %}
                <div class="description__content">{{ 'now' | date: "%s" | plus: start_seconds | date: '%b %d' }} - {{ 'now' | date: "%s" | plus: end_seconds | date: '%b %d' }}</div></div>
            </div>
          </div>
        </div>
        <div class="msg__container">
            <span class="msg-content">
              <span style="line-height:1.5">
                  <span class="message-icon__add" style="display: inline-flex;position: relative; top: 3px;">
                    <svg class="svg__message-icon" style="width: 1.5em; height: 1.5em; display: inline-block;" focusable="false" viewBox="0 0 1024 1024" aria-hidden="true">
                      <path d="M592.895494 660.482272 818.174086 1011.20008C827.326029 1019.20003 838.781958 1023.680002 850.813882 1023.936 863.9338 1024.064 876.157724 1019.20003 884.79767 1010.688083 909.693514 973.504316 848.893894 734.46581 765.694414 487.683352L592.895494 660.482272 592.895494 660.482272Z" p-id="60700"></path>
                      <path d="M999.228955 26.886232C961.853188-10.617534 914.237486-6.713558 882.237686 25.158243L621.119318 285.252617C465.152293 235.588928 182.978056 139.653527 76.482722 139.653527 61.634815 139.653527 55.106856 141.317517 52.86687 142.021512 36.098974 160.261398 35.714977 188.229224 51.970875 206.789108L442.816432 462.787508 248.769645 656.0663C248.769645 656.0663 99.074581 625.218492 77.186718 622.33851 46.658908 618.370535 11.459128 645.122368 77.058718 678.594159 153.66624 717.569915 243.393679 762.881632 243.393679 762.881632 243.393679 762.881632 298.625334 870.33696 332.353123 929.53659 375.296854 1001.152143 400.512697 966.40036 395.392729 929.53659 390.33676 892.80082 373.120868 768.577596 373.120868 768.577596L557.695714 577.090793 738.750583 396.675921 996.412972 139.973525C1028.476772 108.101724 1036.476722 64.261998 999.228955 26.886232L999.228955 26.886232Z"></path>
                    </svg>
                  </span>Free Shipping |
                  <span class="message-icon__add" style="display: inline-flex;position: relative; top: 3px;">
                    <svg class="svg__message-icon" style="width: 1.5em; height: 1.5em; display: inline-block;" focusable="false" viewBox="0 0 1024 1024" aria-hidden="true">
                      <path d="M941.98897778 960.67887408h-864.1042963c-21.48124445 0-38.83614815-17.3549037-38.83614815-38.83614816V372.55395555c0-21.48124445 17.3549037-38.83614815 38.83614815-38.83614814h864.1042963c21.48124445 0 38.83614815 17.3549037 38.83614814 38.83614814v549.28877037c0 21.48124445-17.3549037 38.83614815-38.83614814 38.83614816z m-825.26814815-77.6722963h786.432V411.3901037h-786.432v471.61647408zM941.98897778 403.98696297h-864.1042963c-21.48124445 0-38.83614815-17.3549037-38.83614815-38.83614815V154.95016297c0-21.48124445 17.3549037-38.83614815 38.83614815-38.83614815h864.1042963c21.48124445 0 38.83614815 17.3549037 38.83614814 38.83614815V365.15081482c0 21.48124445-17.3549037 38.83614815-38.83614814 38.83614815z m-825.26814815-77.6722963h786.432V193.78631111h-786.432V326.31466667zM302.40616297 59.07342222h77.67229628v182.04444445h-77.67229628zM661.15508148 59.07342222h77.6722963v182.04444445h-77.6722963zM239.29742222 498.65007408h111.04711111v77.67229629h-111.04711111zM460.5421037 498.65007408h111.04711112v77.67229629h-111.04711112zM681.78678518 498.65007408h111.04711112v77.67229629h-111.04711112zM239.29742222 683.12177778h111.04711111v77.6722963h-111.04711111zM460.5421037 683.12177778h111.04711112v77.6722963h-111.04711112zM681.78678518 683.12177778h111.04711112v77.6722963h-111.04711112z" p-id="560"></path></svg>
                  </span>30 Day Return |
                  <span class="message-icon__add" style="display: inline-flex;position: relative; top: 3px;">
                    <svg class="svg__message-icon" style="width: 1.5em; height: 1.5em; display: inline-block;" focusable="false" viewBox="0 0 1024 1024" aria-hidden="true">
                      <path d="M512 65.984C266.08 65.984 65.984 266.08 65.984 512c0 245.952 200.064 446.016 446.016 446.016 245.952 0 446.016-200.064 446.016-446.016C958.016 266.08 757.952 65.984 512 65.984zM727.232 438.432l-256.224 259.008c-0.064 0.064-0.192 0.096-0.256 0.192-0.096 0.064-0.096 0.192-0.192 0.256-2.048 1.984-4.576 3.2-6.944 4.544-1.184 0.672-2.144 1.696-3.392 2.176-3.84 1.536-7.904 2.336-11.968 2.336-4.096 0-8.224-0.8-12.096-2.4-1.28-0.544-2.304-1.632-3.52-2.304-2.368-1.344-4.832-2.528-6.88-4.544-0.064-0.064-0.096-0.192-0.16-0.256-0.064-0.096-0.192-0.096-0.256-0.192l-126.016-129.504c-12.32-12.672-12.032-32.928 0.64-45.248 12.672-12.288 32.896-12.064 45.248 0.64l103.264 106.112 233.28-235.84c12.416-12.576 32.704-12.704 45.248-0.256C739.52 405.6 739.648 425.856 727.232 438.432z" p-id="7295"></path></svg>
                  </span>100% Secure Payment
              </span>
            </span>
            <div class="msg-html">{{ block.settings.msg_html }}</div>
        </div>
    </div>
  </div>
</div>

<script>
window.addEventListener('DOMContentLoaded', function() {
  $('.estimated-delivery .tips').on('click', function(){
      $('.product__column-sticky').css('z-index', 12);
      $('.estimated-delivery-popup').fadeIn(300);
  });
  $('.estimated-delivery .close, .estimated-delivery .delivery-cover').on('click', function(){
      $('.product__column-sticky').css('z-index', 2);
      $('.estimated-delivery-popup').fadeOut(300);
  });
});
</script>

<style>
  .estimated-delivery {
  	--ed-bg-color: {{ block.settings.bg_color }};
  	--ed-font-color:{{ block.settings.font_color }};
    --ed-border-color:{{ block.settings.border_color }};
  }
  .estimated-delivery .tips {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      border-radius: 3px;
      border: 1px solid #efba8b;
      background: #f3eadf;
      padding: 5px 12px 3px 10px;
      font-size: 14px;
      cursor: pointer;
  }
  .estimated-delivery-popup {
      display:none;
  }
  .estimated-delivery-popup {
      position: fixed;
      z-index: 222;
      inset: 0;
  }
  .estimated-delivery .delivery-layout {
      max-width: 600px;
      padding: 20px;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }
  .estimated-delivery .delivery-cover {
      position: absolute;
      background: #2b2e38d9;
      inset: 0;
  }
  .estimated-delivery .close {
      position: absolute;
      right: 0px;
      top: -20px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  .estimated-delivery .close svg {
      fill: #fff;
  }
  .estimated-delivery .basic__step-container {
  	display:-webkit-inline-box;
  	display:-ms-inline-flexbox;
  	display:inline-flex;
  	-webkit-box-orient:horizontal;
  	-webkit-box-direction:normal;
  	-ms-flex-direction:row;
  	flex-direction:row;
  	-webkit-box-align:stretch;
  	-ms-flex-align:stretch;
  	align-items:stretch;
  	box-shadow:none;
  	line-height:1.14285714em;
  	border-radius:.28571429rem;
  	border:1px solid var(--ed-border-color);
  	font-size:14px;
  	box-sizing:border-box;
  	width:100%
  }
  .estimated-delivery .basic__step-container .step-box {
  	position:relative;
  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
  	-webkit-box-flex:1;
  	-ms-flex:1 0 auto;
  	flex:1 0 auto;
  	flex-direction:column;
  	vertical-align:middle;
  	-webkit-box-align:center;
  	-ms-flex-align:center;
  	align-items:center;
  	margin:0 0;
  	padding:10px 4px 10px 4px;
  	color:var(--ed-font-color);
  	box-shadow:none;
  	border-radius:0;
  	border:none;
  	border-right:1px solid var(--ed-border-color);
  	-webkit-transition:background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
  	transition:background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
  	box-sizing:inherit;
  	width:33.333%
    padding: 30px 0;
  }
  .estimated-delivery .basic__step-container .step-box:after {
  	display:none;
  	position:absolute;
  	z-index:2;
  	content:'';
  	top:50%;
  	right:0;
  	border:medium none;
  	width:1.14285714em;
  	height:1.14285714em;
  	border-style:solid;
  	background:var(--ed-bg-color);
  	border-color:var(--ed-border-color);
  	border-width:0 1px 1px 0;
  	-webkit-transition:background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
  	transition:background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
  	-webkit-transform:translateY(-50%) translateX(50%) rotate(-45deg);
  	transform:translateY(-50%) translateX(50%) rotate(-45deg)
  }
  .estimated-delivery .basic__step-container .step-box:last-child {
  	border-right:none;
  	margin-right:0
  }
  .estimated-delivery .basic__step-container .step-box:after {
  	display:block
  }
  .estimated-delivery .basic__step-container .step-box:last-child:after {
  	display:none
  }
  .estimated-delivery .basic__step-container .step-box .icon__step-box .svg__icon {
  	fill:currentColor;
  	width:1.5em;
  	height:1.5em;
  	display:inline-block;
  	font-size:1.5rem
  }
  .estimated-delivery .basic__step-container .step-box .content__step-box {
  	text-align:center;
  	margin-top:4px
  }
  .estimated-delivery .basic__step-container .step-box .title__content {
  	font-weight:700;
    font-size: 14px;
  }
  .step__container {
      background: var(--ed-bg-color);
      border-radius: 3px;
  }
  .estimated-delivery .basic__step-container .step-box .description__content {
  	font-weight:400;
  	margin-top:4px;
    opacity: 0.9;
    font-size: 13px;
  }
  .estimated-delivery .msg__container {
      text-align: center;
      font-size: 12px;
      padding: 15px 0;
      color: var(--ed-font-color);
      border: 1px solid var(--ed-border-color);
      border-top: none;
      border-radius: 3px;
      background: var(--ed-bg-color);
  }
  .estimated-delivery .message-icon__add {
      margin-right: 4px;
  }
  .estimated-delivery svg.svg__message-icon {
      fill: var(--ed-font-color);
  }
  .estimated-delivery .msg-html {
      margin-top: 10px;
  }
  @media only screen and (max-width:750px) {
    .estimated-delivery .tips {
        padding: 4px 10px;
        font-size: 10px;
    }
    
    .estimated-delivery .basic__step-container .step-box .title__content {
      font-size: 12px;
    }
    .estimated-delivery .basic__step-container .step-box .description__content {
      font-size: 10px;
    }
    .estimated-delivery .msg__container {
        font-size: 10px;
    }
  }
</style>