<section data-section-id="{{ section.id }}">
  <div class="container-custom">
      	<div class="abg">
            {% if section.settings.activity_title != blank %}<div class="heading-title"><h2>{{ section.settings.activity_title }}</h2></div>{% endif %}
        
    		<div class=review-group>
    			<div class="items">
                    {% for block in section.blocks %}
                      <div class="item">
                        <div class="img-box">
                            <div class="img pc"> <img src="{{ block.settings.image | image_url:width:2000 }}" /> </div>
                            <div class="img mb"> <img src="{{ block.settings.mobile_image | image_url:width:800 }}" /> </div>
                        </div>
                      </div>
                    {% endfor %}
    			</div>
    		</div>
    	</div>
  </div>
</section>


<style>                                 
[data-section-id="{{ section.id }}"] {
    max-width:{{ section.settings.section_width_range1 }}px;
    margin:auto;
}
[data-section-id="{{ section.id }}"] .container-custom {
     margin:{{ section.settings.section_width_margin1 }}px {{ section.settings.section_width_margin3 }}px {{ section.settings.section_width_margin2 }}px;
     padding:{{ section.settings.section_width_padding1 }}px {{ section.settings.section_width_padding2 }}px;
}
.customer-show .items {
    display: flex;
    flex-wrap: wrap;
}
.customer-show .items .item {
    flex: 0 0 24%;
    max-width: 24%;
    margin-right: calc(4% / 3);
    margin-bottom: calc(4% / 3);
    overflow: hidden;
    border-radius: 10px;
}
.customer-show .items .item:nth-child(4n) {
    margin-right: 0;
}
@media screen and (pointer: fine) {
    .customer-show .item:hover img {
        transform: scale(1.06);
    }
    .customer-show .item img {
        transform-origin: center;
        transition: transform 1.5s cubic-bezier(.22,1,.36,1);
    }
}
@media screen and (max-width: 767px) {
  [data-section-id="{{ section.id }}"] {
      max-width:{{ section.settings.section_width_range2 }}%;
      margin: auto;
  }
  [data-section-id="{{ section.id }}"] .activity h2 { font-size:{{ section.settings.activity_title_font_size_mb }}px;}
  [data-section-id="{{ section.id }}"] .container-custom {
      margin:{{ section.settings.section_width_margin_mb1 }}px {{ section.settings.section_width_margin_mb3 }}px {{ section.settings.section_width_margin_mb2 }}px;
      padding:{{ section.settings.section_width_padding_mb1 }}px {{ section.settings.section_width_padding_mb2 }}px;
  }

  .customer-show .items .item {
      flex: 0 0 49%;
      max-width: 49%;
      margin-right: 2%;
      margin-bottom: 2%;
      overflow: hidden;
      border-radius: 10px;
  }
  .customer-show .items .item:nth-child(2n) {
      margin-right: 0;
  }
  
}


    
</style>

{% schema %}
{
  "name": "Customer Show",
  "class":"customer-show",
  "settings": [

      { "type": "range", "id": "section_width_range1", "label": "Width", "min": 1000, "max": 2000, "step": 10, "unit": "px", "default": 2000 },
      { "type": "range", "id": "section_width_range2", "label": "Width Mobile", "min": 1, "max": 100, "step": 1, "unit": "%", "default": 100 },

      { "type": "header","content":"Heading Title"},
      { "type": "text","id": "activity_title", "label": "Heading Title" },
    
      { "type": "header","content":"PC"},
      { "type": "range", "id": "section_width_margin1", "label": "Margin (top)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 30 },
      { "type": "range", "id": "section_width_margin2", "label": "Margin (bottom)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 30 },
      { "type": "range", "id": "section_width_margin3", "label": "Margin (left and right)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
      { "type": "range", "id": "section_width_padding1", "label": "Padding (top and bottom)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
      { "type": "range", "id": "section_width_padding2", "label": "Padding (left and right)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
    
      { "type": "header","content":"Mobile"},
      { "type": "range", "id": "section_width_margin_mb1", "label": "Margin (top)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 10 },
      { "type": "range", "id": "section_width_margin_mb2", "label": "Margin (bottom)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 10 },
      { "type": "range", "id": "section_width_margin_mb3", "label": "Margin (left and right)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
      { "type": "range", "id": "section_width_padding_mb1", "label": "Padding (top and bottom)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
      { "type": "range", "id": "section_width_padding_mb2", "label": "Padding (left and right)", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        }
      ]
    }
   ],
   "presets": [{
      "name": "Customer Show",
      "category": "Image"
  }]
}
  
{% endschema %}  