<section data-section-id="{{ section.id }}" style="display:block;">
  <div class="container page-width {% if section.settings.full_width %}full-width{% endif %}" data-cc-animate="fade-in" data-cc-animate-delay="0.3s">
	{% if section.settings.head_title != blank %}
        <div class="heading-title text-center">
            <h2 class="title inline-richtext h2">{{ section.settings.head_title }}</h2>
        </div>
	{% endif %}
    <div class="collection-swiper">
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% assign image = block.settings.image %}
					{% assign curr_collection = block.settings.collection %}
                    {% if image != blank and curr_collection != blank %}
                    <div class="swiper-slide">
						<a href="{{ curr_collection.url }}">
							<div class="img">{{ image | image_url: width: image.width | image_tag: height: image.height, widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840', fetchpriority: 'high', loading: 'lazy', class: 'image' }}</div>
							<div class="collection_title">
								{% if block.settings.collection_title != blank %}
									{{ block.settings.collection_title }}
								{% else %}
									{{ curr_collection.title }}
								{% endif %}
							</div>
						</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="swiper-bottom">
            <div class="swiper-pagination"></div>
            <div class="swiper-navigation">
                <div class="feature-button-prev">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.1406 21.7012L6.34961 12.9102L15.1406 4.11914" stroke="#525252" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="feature-button-next">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.1406 21.7012L6.34961 12.9102L15.1406 4.11914" stroke="#525252" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>

    </div>
  </div>
</section>

<style>
[data-section-id="{{ section.id }}"] {
    --image_ratio:calc(100% * {{ section.settings.image_ratio }});
    background-color:{{ section.settings.background }};
    {% if section.settings.background_image != blank %}
        background-image:url({{ section.settings.background_image |  image_url: width: section.settings.background_image.width }});
        background-size: cover;
    {% endif %}
}
[data-section-id="{{ section.id }}"] .container {
    padding-top:{{ section.settings.pc_padding_top }}px;
	padding-bottom:{{ section.settings.pc_padding_bottom }}px;
}
@media screen and (max-width: 767px) {
    [data-section-id="{{ section.id }}"] .container {
        padding-top:{{ section.settings.mb_padding_top }}px;
		padding-bottom:{{ section.settings.mb_padding_bottom }}px;
    }
}
.hm-collection-swiper .swiper-wrapper {
    display: flex;
    align-items: center;
}
.hm-collection-swiper .collection_title {
    margin-top: 15px;
    font-size: 22px;
    color: #000000;
}
.hm-collection-swiper .img {
    display: block;
    padding-top: var(--image_ratio);
    position: relative;
    overflow: hidden;
}
.hm-collection-swiper .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

@media (any-hover: hover) {
    .hm-collection-swiper .img:hover img {
        transform: scale(1.1);
        transform-origin: center;
    }
}

.hm-collection-swiper .collection-swiper {
    --btn-width:44px;
    position: relative;
}

.hm-collection-swiper .swiper-button-lock {
    display: none !important;
}

.hm-collection-swiper .swiper-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hm-collection-swiper .swiper-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--btn-width) / 2);
}
.hm-collection-swiper .swiper-pagination {
    position: static;
}
.hm-collection-swiper .feature-button-prev,
.hm-collection-swiper .feature-button-next{
    position: static;
    height: var(--btn-width);
    width: var(--btn-width);
    background: #19140d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 11;
    cursor: pointer;
}
.hm-collection-swiper .feature-button-next path{
    stroke: #ebe3d9;
}
.hm-collection-swiper .feature-button-prev path{
    stroke: #ebe3d9;
}
.hm-collection-swiper .swiper-button-disabled{
    background: #19140d5e;
}
.hm-collection-swiper .feature-button-next{
    transform: rotate(180deg);
}
.hm-collection-swiper .feature-button-prev svg,
.hm-collection-swiper .feature-button-next svg{
    width: calc(var(--btn-width) / 2);
    height: calc(var(--btn-width) / 2);
}
.hm-collection-swiper .swiper-pagination-bullet-active{
    background: #19140d;
    width: 28px;
    border-radius: 6px;
}
.hm-collection-swiper .swiper-pagination{
    text-align: left;
}
.hm-collection-swiper .swiper-pagination-bullet{
    transition: all .3s ease-in-out;
    opacity: 1;
    background: #19140d;
    height: 5px;
}

@media screen and (max-width: 767px) {
    .hm-collection-swiper .collection-swiper {
        --btn-width:34px;
    }
    .hm-collection-swiper .head_title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .hm-collection-swiper .collection_title {
        margin-top: 10px;
        font-size: 18px;
    }
    .hm-collection-swiper .feature-button-prev svg,
    .hm-collection-swiper .feature-button-next svg{
        width: calc(var(--btn-width) / 2);
        height: calc(var(--btn-width) / 2);
    }
}
</style>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        const currentUrl = window.location.href;
        if(currentUrl.indexOf('aaa') != -1){
        $('[data-section-id="{{ section.id }}"]').css('display','block');
        }

        var swiper = new Swiper('[data-section-id="{{ section.id }}"] .swiper', {
            spaceBetween: 20,
            // 分页器
            pagination: {
                el: '[data-section-id="{{ section.id }}"] .swiper-pagination',
                clickable: true
            },

            // 添加导航按钮
            navigation: {
                nextEl: '[data-section-id="{{ section.id }}"] .feature-button-next',
                prevEl: '[data-section-id="{{ section.id }}"] .feature-button-prev'
            },
            breakpoints: {
                320: {
                    slidesPerView: {{ section.settings.per_view_mb }},
                    slidesPerGroup : {{ section.settings.per_group_mb }},
                    spaceBetween: 10,
                },
                768: {
                    slidesPerView: {{ section.settings.per_view_mb }},
                    slidesPerGroup : {{ section.settings.per_group_mb }},
                    spaceBetween: 10,
                },
                1080: {
                    slidesPerView: 3,
                    slidesPerGroup : {{ section.settings.per_group }}
                },
                1440: {
                    slidesPerView: {{ section.settings.per_view }},
                    slidesPerGroup : {{ section.settings.per_group }}
                },
                1560: {
                    slidesPerView: {{ section.settings.per_view }},
                    slidesPerGroup : {{ section.settings.per_group }}
                }
            },
            on: {
                resize: function(){
                this.update(); //窗口变化时，更新Swiper的一些属性，如宽高等
                }, 
            },
        });
    });                       
</script>


{% schema %}
    {
        "name": "HM Collection Swiper",
        "class":"hm-collection-swiper",
        "settings": [
            {
                "type": "select",
                "id": "image_ratio",
                "label": "Image aspect ratio",
                "options": [
                    {
                        "value": "1",
                        "label": "1:1"
                    },
                    {
                        "value": "0.75",
                        "label": "4:3"
                    },
                    {
                        "value": "1.33",
                        "label": "3:4"
                    }
                ],
                "default": "1.33"
            },
            { "type": "color", "id": "background", "label": "Background", "default":"#eae2da" },
            { "type": "image_picker", "id":"background_image", "label":"Background Image"},
            { "type": "checkbox", "id": "full_width", "label": "Full Width", "default": false },
            { "type": "text", "id":"head_title", "label":"Head Title","default":"Collection List"},
            { "type": "header","content":"Option"},
            { "type": "range", "id": "per_view", "label": "Per View", "min": 1, "max": 5, "step": 0.1, "unit": "un", "default": 2.5 },
            { "type": "range", "id": "per_group", "label": "Per Group", "min": 1, "max": 5, "step": 1, "unit": "un", "default": 3 },
            { "type": "range", "id": "per_view_mb", "label": "Per View Mobile", "min": 1, "max": 5, "step": 0.1, "unit": "un", "default": 1.2 },
            { "type": "range", "id": "per_group_mb", "label": "Per Group Mobile", "min": 1, "max": 5, "step": 1, "unit": "un", "default": 1 },
            { "type": "header","content":"PC"},
            { "type": "range", "id": "pc_padding_top", "label": "Top Space", "min": 0, "max": 150, "step": 2, "unit": "px", "default": 0 },
            { "type": "range", "id": "pc_padding_bottom", "label": "Bottom Space", "min": 0, "max": 150, "step": 2, "unit": "px", "default": 0 },
            { "type": "header","content":"Mobile"},
            { "type": "range", "id": "mb_padding_top", "label": "Top Space", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
            { "type": "range", "id": "mb_padding_bottom", "label": "Bottom Space", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 }
        ],
        "blocks": [
          {
            "type": "image",
            "name": "Image",
            "settings": [
                { "type": "image_picker", "id":"image", "label":"Image"},
				{ "type": "collection", "id":"collection", "label":"Collection"},
				{ "type": "text", "id":"collection_title", "label":"Collection Title","info":"默认为Collection本身标题，在此填写则显示此标题"},
            ]
          }
        ],
        "presets": [
            {
                "name": "HM Collection Swiper",
            }
        ]
    }
{% endschema %}