<section data-section-id="{{ section.id }}">
    <div class="container page-width">
        <div class="inner">
            <div class="service-icon_items">
                {% for block in section.blocks %}
                      <div class="service-icon_item">
                        {% if block.settings.icon != blank %}
                          <div class="img">
                            <img src="{{ block.settings.icon | image_url: width: block.settings.icon.width }}" width="{{ block.settings.icon.width }}" height="{{ block.settings.icon.height }}" />
                          </div>
                        {% endif %}
                        <div class="text">{{ block.settings.text | newline_to_br }}</div>
                      </div>
                {% endfor %}
              </div>
        </div>
    </div>
</section>

<style>
[data-section-id="{{ section.id }}"] .container {
    padding-top:{{ section.settings.pc_padding_top }}px;
	padding-bottom:{{ section.settings.pc_padding_bottom }}px;
}
@media screen and (max-width: 767px) {
    [data-section-id="{{ section.id }}"] .container {
        padding-top:{{ section.settings.mb_padding_top }}px;
		padding-bottom:{{ section.settings.mb_padding_bottom }}px;
    }
}
[data-section-id="{{ section.id }}"] img {
    max-width: 100%;
    height: auto;
    display: table;
}
  
.service-icon_items {
    display: flex;
    flex-wrap: wrap;
}
.service-icon_item {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.service-icon_item .img {
    max-width:60px;
    margin-right:15px;
}
.service-icon_item .text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
  .service-icon_item {
      flex: 0 0 50%;
      max-width: 50%;
      position: relative;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  }
  .service-icon_item .img {
      max-width:60px;
      margin-right:0;
  }

  .service-icon_item:nth-child(1):after {
      content: '';
      height: 2px;
      width: 100%;
      background: linear-gradient(to left, #dddcdc 70%, transparent);
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
  }
  .service-icon_item:nth-child(1):before {
      content: '';
      height: 100%;
      width: 2px;
      background: linear-gradient(to top, #dddcdc 70%, transparent);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
  }
  .service-icon_item:nth-child(2):after {
      content: '';
      height: 2px;
      width: 100%;
      background: linear-gradient(to right, #dddcdc 70%, transparent);
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
  }
  .service-icon_item:nth-child(3):before {
      content: '';
      height: 100%;
      width: 2px;
      background: linear-gradient(to bottom, #dddcdc 70%, transparent);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
  }
}

</style>

<script>
    window.addEventListener("DOMContentLoaded", function () {

    });                       
</script>


{% schema %}
    {
        "name": "Service Icon",
        "class":"service-icon",
        "settings": [
          
              { "type": "header","content":"PC"},
              { "type": "range", "id": "pc_padding_top", "label": "Top Space", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
              { "type": "range", "id": "pc_padding_bottom", "label": "Bottom Space", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
              { "type": "header","content":"Mobile"},
              { "type": "range", "id": "mb_padding_top", "label": "Top Space", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 },
              { "type": "range", "id": "mb_padding_bottom", "label": "Bottom Space", "min": 0, "max": 100, "step": 1, "unit": "px", "default": 0 }
        ],
        "max_blocks": 4,
        "blocks": [
          {
            "type": "item",
            "name": "Item",
            "settings": [
              { "type": "image_picker", "id": "icon", "label": "Icon", "info": "图标" },
              { "type": "textarea", "id":"text", "label":"Text"},
            ]
          }
        ],
        "presets": [
            {
                "name": "Service Icon",
                "category":"Custom"
            }
        ]
    }
{% endschema %}